<h3 class="title">Pour aller plus loin</h3>

<div class="card">
  <div class="pics">
    <div class="pic1_frame">
      <img
        src="https://d2wktyvb51exf7.cloudfront.net/1.4.21/8fe769d65d6201f11a7994b3d38a80bf.png"
        class="pic1"
      />
    </div>
    <div class="pic2_frame">
      <img
        src="https://d2wktyvb51exf7.cloudfront.net/1.4.21/c7441bf9af879e4f0c84949b659f4015.jpg"
        class="pic2"
      />
    </div>
  </div>

  <div class="texts">
    <div class="P1">
      <div class="T1">GARK, disponible aussi sur mobile</div>
      <div class="text1">
        GARK est aussi disponible sur smartphone, dans une seule et unique
        application pour tout le monde. Responsable du club, coachs, joueurs et
        parents disposent d’un outil commun pour gérer le quotidien.
      </div>
    </div>
    <div class="P2">
      <div class="T2">Augmentez vos revenus sponsoring</div>
      <div class="text2">
        Vous le verrez vite, joueurs, coachs et parents se connectent chaque
        jour sur SportEasy pour interagir avec leur équipe. C'est l'occasion de
        renégocier vos contrats de sponsoring et d'en signer de nouveau !
      </div>
    </div>
  </div>

  <div class="download">
    <img
      src="https://d2wktyvb51exf7.cloudfront.net/1.4.21/6af20c56ce02cb1dfa9c94a0fac785e4.png"
      class="log1"
      alt="ios"
      tabindex="0"
      role="button"
    />
    <img
      src="https://d2wktyvb51exf7.cloudfront.net/1.4.21/0bf48007ad03fbff6829b065d41e9015.png"
      class="log2"
      alt="android"
      tabindex="0"
      role="button"
    />
  </div>
</div>
