.title{color: rgba(var(--main-color-site), 1);
  font-size: 24px;
  margin: 0 0 16px 0;
  padding: 0;
  -webkit-font-smoothing: auto;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: "AeonikRegular",sans-serif;
  --main-color-tmp: 3, 14, 47;
  --main-color-site: 3, 14, 47;
  --secondary-color-tmp: 99, 195, 123;
  --secondary-color-site: 99, 195, 123;}

  .search{
    background-image: url( https://d2wktyvb51exf7.cloudfront.net/1.4.21/a7dc3e727eb4a19bcb701678d3b5f286.svg);
     background-size: 18px 18px;
      background-position: 10px 10px;
        background-repeat: no-repeat;
        
    width: 320px !important;
    cursor: text;
    text-align: left;
    height: 38px;
    box-sizing: border-box;
    font-size: 14px;
    float: none;
    font-family: AeonikRegular,sans-serif;
    padding: 0 0 0 38px;
    transition: width .4s ease-in-out;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dadfe6; 
    margin: 0;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    -webkit-font-smoothing: antialiased;
  }
  .filter, .filter_button{
    margin-left:8px;
    background: #fff;
    color: rgba(var(--secondary-color-site), 1);
    border: 1px solid rgba(var(--secondary-color-site), 1);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    height: 38px;
    min-width: 38px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    --secondary-color-site: 99, 195, 123;

  }
  .c{
    margin-right: 20px;
  }